@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

* {
    font-family: 'Figtree', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f5e9;
}

header {
    background-color: #388e3c;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #43a047;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.container-sobre {
    display: flex;
    align-items: center;
}

.text-sobre,
.img-sobre {
    flex: 1;
}

.img-sobre img{
    max-width: 100%;
    height: auto;
}

#tipos .arvores {
    align-items: center;
    justify-content: space-between;
}

#tipos figure img {
    width: 200px;
    height: 200px;
}

#tipos figure figcaption {
    text-align: center;
}

#tipos .arvores {
    display: flex;
    align-content: center;
}

form input,
form textarea{
    width: 220px;
    background-color: #e8f5e9;
    outline-color: green;
}

form button {
    border-style: none;
    background-color: #388e3c;
    color: white;
    cursor: pointer;
}

#contato form button:hover {
    background-color: #43a047;
}

footer {
    background-color: #388e3c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}